.wrapper {
  background-color: var(--color-bg-secondary);
  height: fit-content;
  padding: var(--space-base);
  border-radius: var(--radius-xl);
}

.bar {
  margin-bottom: var(--space-2);

  &:last-child {
    margin-bottom: 0;
  }
}

.text {
  display: flex;
  align-items: center;
  font-variant-numeric: tabular-nums;
  margin-bottom: var(--space-2);
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }

  .value,
  .label {
    margin-left: var(--space-1);
  }
}
