.wrapper {
  background-color: var(--color-bg-secondary);
  width: fit-content;
  height: fit-content;
  padding: var(--space-base);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
}
