.wrapper {
  background-color: var(--color-bg-secondary);
  width: fit-content;
  padding: var(--space-base);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  box-sizing: border-box;
  justify-content: center;
}

.title {
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;

  .label {
    margin-left: var(--space-1);
  }
}

.status {
  display: flex;
  align-items: center;
  font-size: var(--font-size-lg);
    
  .text {
    display: flex;
    align-items: center;
  }

  .value {
    margin-left: var(--space-1);
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--color-warning);
  }

  &.online .value {
    color: var(--color-success);
  }

  &.offline .value {
    color: var(--color-danger);
  }
}
