.wrapper {
  background-color: var(--color-bg-secondary);
  width: fit-content;
  padding: var(--space-base);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  box-sizing: border-box;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: bold;
}
